{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script type="text/javascript" src="{% static 'js/sample.js' %}">
       // alert("Hi Welcome {{y}}");
    </script>
</head>
<body>
    <h1>Student Roll no: {{x}}</h1>
    <h1>Student name: {{y}}</h1>
    <h1>Student year: {{z}}</h1>
    <h1>Student Branch: {% if w == "1" %}
                            CSE 
                        {% elif w == "2" %}
                            ECE
                        {% elif w == "3" %}
                            EEE
                        {% elif w == "4" %}
                           IT
                        {% elif w == "5" %}
                           Civil 
                        {% else %}
                          Select Branch
                        {% endif %}
    </h1>
</body>
</html>