<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        span{
            color:red;
        }
        #a{
            color:blue;
        }
        #b{
            color:green;
        }
        #c{
            color:blueviolet;
        }

    </style>
</head>
<body>
   <center> <h1 style="color:yellowgreen;">Welcome User <span> {{a}}</span></h1></center>
    <h1>Employee Name: <span> {{a}}</span></h1>
    <h1>Employee age: <span id='a'>{{c}}</span></h1>
    <h1>Employee salary: <span id='b'> {{b}}</span></h1>
    <h1>Employee id: <span id='c'>{{d}}</span> </h1>
</body>
</html>